

.mySkill{ 
   margin:10px 10% 10% ;
}

.heading {
    text-align: center;
    line-height: 1.2;
    
    

}

.bar{
    font-size: 23px;

}

 .bar{
    margin: 40px 0;
}

.Tecnical-bars .bar:first-child{
    margin-top: 0;
}

.Technical-bars .bar:last-child{
    margin-bottom: 0;

}

.Technical-bars .bar .info{
    margin-bottom: 5px;
}


.Technical-bars .bar .info span{
    font-size: 17px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.progress-line{
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000;
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.white{
    color: white;
}

.black{
    color: black;
}

.containtbg{
    background-color: white;
}

@keyframes animate{
    100%{
        transform: scaleX(1);
    }
}

.Technical-bars .bar .progress-line span{
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
    transform-origin: left;
}

.progress-line.html span{
    width: 99%;
}

.progress-line.css span{
    width: 95%;
}

.progress-line.javascript span{
    width: 90%;
}

.progress-line.react span{
    width: 85%;
}

.progress-line.tailwind-css span{
    width: 95%;
}

.progress-line span::after{
    position: absolute;
    padding: 1px 8px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span::after{
    content: "99%";
}

.progress-line.css span::after{
    content: "95%";
}

.progress-line.javascript span::after{
    content: "90%";
}

.progress-line.react span::after{
    content: "85%";
}

.progress-line.tailwind-css span::after{
    content: "95%";
}

.progress-line span::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0;
    border-right-width: 0;
    border-top-color: #000;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

@keyframes showText{
    100%{
      opacity: 1;  
    }
}




.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .card {
    width: 320px;
    height: 250px;
    /* margin: 10px; */
    perspective: 1000px;
    color: #000;

    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.8s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  
  
 

  .card-front,
  .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  
  .card-front {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .card-back {
    background-color: #fff;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.8s;
    cursor: pointer;
  }
  
  .card:hover .card-front {
    transform: rotateY(-180deg);
  }
  
  .card:hover .card-back {
    transform: rotateY(0deg);
  }
  
  /* .card-back h2 {
    margin-bottom: 10px;
  } */
  
  .card-back a {
    margin-top: auto;
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
  }
  

  .portfolio .techUse{
    color: red;
    font-size: 17px;

}

.appName{
    font-size: 20px;
}

.discription{
    font-size: 12px;
}





